﻿﻿@model sample.ViewModel.BMIData
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<form method="post" action=“/BMI/Index">
    f
    height:@Html.TextBoxFor(f => f.Height) cm @ViewBag.Herror  @Html.ValidationMessageFor(f => f.Height)  <br />
    weight:@Html.TextBoxFor(f => f.Weight) kg @ViewBag.Werror @Html.ValidationMessageFor(f => f.Weight)<br />
    <input type="submit" value="送出" />
</form>
</br>

計算結果： @Model.BMI <br />
等級： @Model.Level
